/* created style sheet */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    background: #588157;
    color: #CCD5AE;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar a {
    font-size: 18px;
    color: #FAEDCD;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

.navbar a:hover, .navbar a.active {
    color: #D4A373;
}

.home {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    position: relative;
    font-size: 48px;
    font-weight: 700;
    font-family: 'Poppins';
    font-weight: 1500;
    line-height: 1.2;
    padding-bottom: 2%;
}

.home-content h3 {
    position: relative;
    font-size: 24px;
    font-weight: 600;
    color: #E9EDC9;
    font-style: italic;
}

#plantGrowth {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px; /* Adjust the max-width based on your preference */
}

#plantImage {
    width: 100%; /* Make the image fill the container */
    max-width: 400px; /* Set a maximum width for the image */
    height: auto; /* Maintain aspect ratio */
}

#totalPoints {
    font-size: 18px; /* Adjust font size based on your preference */
    margin-top: 10px; /* Add some spacing between the image and totalPoints */
}

button {
    margin-top: 10px; /* Add some spacing between totalPoints and the button */
}