@import url("https://font.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  .container {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  body {
    background-color: #588157;
    font-family: "Poppins", sans-serif;
  }
  
  h1 {
    font-family: "Poppins", sans-serif;
  }
  
  .message {
    color: #FEFAE0;
    font-size: 1.5em;
    padding-bottom: 1em;
  }
  .reset {
    width: 100px; 
    height: 50px; 
    font-size: 16px; 
    margin-top: 60px;
  }
  
  form label {
      font-size: 4em;
      font-weight: bold;
      vertical-align: middle;
    }
    form input[type=radio] {
      margin: 1em;
      cursor: pointer;
    }
    form fieldset {
      display: block;
      opacity: 1;
      transition: all ease 1s;  
    }
    form.game-on fieldset {
      opacity: 0;
      display: none;
    }    
    form.game-on button {
      opacity: 1;
      display: block;
      margin: 0 auto;
    }
    #winCount {
      color: #FEFAE0; 
      font-weight: bold;
    }
   

  #grid-section {
    margin-top: 20px;
  }
  
  #grid {
    width: 300px;
    margin: 0 auto;
    list-style: none;
    padding: 0;
  }
  
  li {
    border: 1px solid #000;
    width: 33.3333%;
    height: 100px;
  vertical-align: middle;
  display: inline-block;
  justify-content: center;
  font-size: 3em;
  text-align: center;
  padding: 2;
  box-sizing: border-box;
  }
  
  #c1, #c2, #c3 {
    border-top: none;
  }
  
  #c3, #c6, #c9 {
    border-right: none;
  }
  
  #c7, #c8, #c9 {
    border-bottom: none;
  }
  
  #c1, #c4, #c7 {
    border-left: none;
  }
  
  .winner {
    color: #FEFAE0;
  }
  
  .btn-primary, 
  .btn-primary:focus {
    background-color: #FAEDCD;
    opacity: 0;
    outline: 0;  
    transition: all ease .3s;
  }
  
  .btn-primary:hover {
    background-color: #D4A373;
  }
  
